/* 
* font-family: 'Lato', sans-serif;
* weight: 400/700/italic-both
**/
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-color: #FFFFFF;
}
img {
  max-width: 100%;
}
section {
  padding: 90px 15px;
}
.light-bg{
  background-color: #E9EBEC;
}
.banner {
  background-color: #1F4662;
  color: rgba($color: #FFFFFF, $alpha: 0.7);
  padding: 30px 15px;
  .container {
    max-width: 1400px;
    margin: 0 auto;
    a {
      color: #FFC600;
      text-decoration: none;
    }
  }
}
h2 {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto 30px;
  @media(min-width: 768px) {
    text-align: left;
  }
}
footer {
  background-color: #193549;
  padding: 30px 15px;
  p {
    margin: 0;
    color: rgba($color: #FFFFFF, $alpha: 0.85);
    font-style: italic;
    a {
      color: #FFC600;
      text-decoration: none;
      transition: color 0.7s ease-out;
      &:hover {
        color: #FF443F; 
      }
    }
  }
}

// using flexbox
.three-col-using-flexbox {
  max-width: 1200px;
  margin: 0 auto;
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }

  .col {
    margin: 30px 15px;
    background-color: #e6f7ff;
    border: 1px solid #17b5ff;
    @media (min-width: 768px) {
      margin: 0;
      flex-basis: 30%;
    }

    h3 {
      margin: 15px 0 5px 20px;
      color: #BA0000;
    }
    img {
      width: 100%;
    }
    p {
      margin: 15px 20px;
    }
  }
}

// using grid
.three-col-using-grid {
  max-width: 1200px;
  margin: 0 auto;
  @media(min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 60px;
  }

  .col {
    margin: 30px 15px;
    background-color: #e6f7ff;
    border: 1px solid #17b5ff;
    @media (min-width: 768px) {
      margin: 0;
    }

    h3 {
      margin: 15px 0 5px 20px;
      color: #BA0000;
    }
    img {
      width: 100%;
    }
    p {
      margin: 15px 20px;
    }
  }
}

// using float

.three-col-using-float {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden; /* clearfix for floated elements */

  .col {
    margin: 30px 15px;
    background-color: #e6f7ff;
    border: 1px solid #17b5ff;
    @media (min-width: 768px) {
      margin: 0;
      float: left;
      width: 30%;
      margin-right: 5%;
      box-sizing: border-box;
      &:last-child {
        margin-right: 0;
      }
    }
    h3 {
      margin: 15px 0 5px 20px;
      color: #BA0000;
    }
    img {
      width: 100%;
    }
    p {
      margin: 15px 20px;
    }
  }
}